tests.ipynb
pytorch.ipynb
references.txt
__pycache__

run.py


#folders
model/trained_models/*
!model/trained_models/info.txt

data/data_electronic/*
!data/data_electronic/info.txt

utils/plots
!utils/plots/info.txt

mlruns